
<ul>
    <div class = "scrollable" style="margin-top: 10px">
      <li><div class="slide">
        <article>
        <img src=<%= recipe.image_url ? recipe.image_url : 'assets/pasta.jpg' %> alt=<%= recipe.name %> id ="logo2">
        <div class="text">
          <h3> <%= recipe.name %></h3>
          <div class="text2"><p><%= recipe.description %></p></div>
          <button data-toggle="modal" data-target="#<%= recipe.name.replace(' ', '+') %>">		
        <a>View</a>
        </button>
        </div>
        </article></div></li>
        <%- include('./modal', { recipe: recipe}) %>
      </div>
 </ul>