<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles/generate.css">
  </head>
<body>
<script type='text/javascript'>
    function createRandom(){
      var Monday = document.getElementById("Monday");
      var Tuesday = document.getElementById("Tuesday");
      var Wednesday = document.getElementById("Wednesday");
      var Thursday = document.getElementById("Thursday");
      var Friday = document.getElementById("Friday");
      var Saturday = document.getElementById("Saturday");
      var Sunday = document.getElementById("Sunday");
      var days = [Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday];
      days.map(day => console.log(day.value))
      for(var i=  0;i<=6;i++){
        x = Math.floor(Math.random() * 1);
        days[i].value= days[i].options[x].text;
      }

      document.getElementsByTagName('form')[0].submit()
    }

</script>
<%- include('./partials/nav') %>
<div class="background">
  <div class= "center">
    <h1 style="text-align: center;">Meal Planner</h1>

    
    <button onclick="createRandom();">Generate A Random Plan</button>
    <br/>
    <p style="text-align: center;"> Or</p>
    <p style="text-align: center;">Create your own weekly meal plan!</p>

    <form action="/plan" method="POST">
      <%- include('./partials/selectDay', { day: 'Monday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Tuesday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Wednesday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Thursday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Friday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Saturday', recipes: recipes}) %>
      <%- include('./partials/selectDay', { day: 'Sunday', recipes: recipes}) %>
      <input type="submit" class="submit">
    </form>
    
  </div>
</div>
</body>
</html>